<div class="col-sm-12">
    <div class="col-sm-9">
        <div class="col-sm-6">
            <div class="padding-5">
                <strong>Team : </strong>{{team.Name}} ( {{team.Description}} )
            </div>
        </div>
        <div class="col-sm-6">
            <a class="button btn-primary padding-a" href="#/teams/edit/{{team.Id}}">Edit</a>
            <a class="button btn-primary padding-a" href="#/attendance/{{team.Id}}">Attendance</a>
        </div>
        <div class ="padding-5">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="th-class col-sm-3">Name</th>
                        <th class="th-class col-sm-4">Email Id</th>
                        <th class="th-class col-sm-2">Unsettled Penalties</th>
                        <th class="th-class col-sm-3">Action</th>
                    </tr>
                </thead>
                <tr ng-repeat="employee in team.Employees">
                    <td><a href="#employees/{{employee.Id}}">{{employee.Name}}</a></td>
                    <td>{{employee.EmailId}}</td>
                    <td>{{employee.DuePenalties}}</td>
                    <td><a ng-show="employee.HasPenalties" ng-click="logPenaltyDialog(team, employee)" data-toggle="modal" data-target="#servePenalityDialog">Log Penalty</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-include src="'/components/penalty/penalty.html'"></div>
</div>