<div class="col-sm-4">
    <div>
        <div><strong>Name : </strong>{{team.Name}}</div>
        <div><strong>Description : </strong>{{team.Description}}</div>
        <div><strong>Employees : </strong>
        
            <table class="table table-bordered table-striped">
                <th>Name</th>
                <th>EmailId</th>
                <th>Unsettled Points</th>
                <th>Served Penalty</th>
                <tr ng-repeat="employee in team.Employees">
                    <td>{{employee.Name}}</td>
                    <td>{{employee.EmailId}}</td>
                    <td>{{employee.UnsettledPoints}}</td>
                    <td><a ng-click="someMethod()" data-toggle="modal" data-target="#servePenalityDialog">{{employee.SettledPenalties}}</a></td>
                </tr>
            </table>
            <a class="button btn-primary" href="#/teams/edit/{{team.Id}}">Edit Team</a>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#servePenalityDialog">
    Launch demo modal
</button>-->

<!-- Modal -->
<div class="modal fade" id="servePenalityDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Served Penality History</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>