<div class="col-sm-12">
    <div ng-hide="hasLateData"><h3>No records found for this Employee</h3></div>
    <div ng-show="hasLateData">
        <h3>Late records for {{attendance[0].EmployeeName}}</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-4">Team</th>
                    <th class="col-sm-6">Meeting</th>
                    <th class="col-sm-2">When</th>
                </tr>
            </thead>
            <tr ng-repeat="attRow in attendance">
                <td>{{attRow.TeamName}}</td>
                <td>{{attRow.MeetingName}}</td>
                <td>{{attRow.LateDateTime}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="hasPenaltyData">
        <h3>Penalty records for {{penalties[0].EmployeeName}}</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-4">Team</th>
                    <th class="col-sm-2">How?</th>
                    <th class="col-sm-2">When</th>
                </tr>
            </thead>
            <tr ng-repeat="penalty in penalties">
                <td>{{penalty.TeamName}}</td>
                <td>{{penalty.How}}</td>
                <td>{{penalty.When}}</td>
            </tr>
        </table>
    </div>
</div>
