<div class="col-sm-12">
    <form name="attendanceForm" role="form" ng-submit="submitAttendance(attendance)">
        <div style="margin-left:-15px;">
            <div class="col-sm-7 padding-5">
                <div class="col-sm-3"><strong>Team</strong></div>
                <div class="col-sm-5">: {{attendance.teamName}}</div>
            </div>
            <div class="col-sm-7 padding-5">
                <div class="col-sm-3"><strong>Current Date</strong></div>
                <div class="col-sm-5">: {{attendance.currentDateTime}}</div>
            </div>
            <div class="col-sm-7 padding-5">
                <div class="col-sm-3"><strong>Select Meeting</strong></div>
                <div class="col-sm-5">
                    : <select required ng-model="attendance.meeting" ng-options="m.Name for m in meetings"></select>
                </div>
            </div>
        </div>
        <div class="col-sm-9 padding-5">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="th-class col-sm-3">Name</th>
                        <th class="th-class col-sm-2">Came Late?</th>
                        <th class="th-class col-sm-5">Reason</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="emp in attendance.employees">
                        <td>{{emp.Name}}</td>
                        <td><input type="checkbox" ng-model="emp.cameLate" /></td>
                        <td><input type="text" ng-model="emp.reason" ng-show="emp.cameLate" maxlength="100" placeholder="Why marking late?"/></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" class="btn" ng-click="redirectToTeam(attendance.teamId)"/>
            </div>
        </div>
    </form>
</div>