<div class="col-sm-12">
    <form name="attendanceForm" role="form" ng-submit="submitAttendance(attendance)">
        <div class="col-sm-7">
            <div class="col-sm-3"><strong>Current Date</strong></div>
            <div class="col-sm-5">: {{attendance.currentDateTime}}</div>
        </div>
        <div class="col-sm-7">
            <div class="col-sm-3"><strong>Team Name</strong></div>
            <div class="col-sm-5">: {{attendance.teamName}}</div>
        </div>
        <div class="col-sm-7">
            <div class="col-sm-3"><strong>Select Meeting</strong></div>
            <div class="col-sm-5"> : 
                <select required ng-model="attendance.meeting" ng-options="m.Name for m in meetings"></select>
            </div>
        </div>
        <div class="col-sm-7">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>EmailId</th>
                        <th>Came Late?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="emp in attendance.employees">
                        <td>{{emp.Name}}</td>
                        <td>{{emp.EmailId}}</td>
                        <td><input type="checkbox" ng-model="emp.cameLate" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-7 col-lg-offset-2">
            <input type="submit" value="Save" class="btn btn-success" />
            <input type="button" value="Cancel" class="btn" ng-click="redirectToTeam(attendance.teamId)"/>
        </div>
    </form>
</div>