.formBorder {
    /*border:solid 1px gray;*/
    background-color: inherit;
}

.body-class {
    border: medium none;
    background-color: rgb(243, 243, 254);
}

.container-class {
    margin-top: 2%;
}

th {
    background-color: #cef6d8;
}

.padding-5 {
    padding: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.padding-a {
    padding: 8px;
}
